<div class="container"
fxLayout="row"
fxLayout.sm="column"
fxLayout.xs="column"
fxLayoutAlign.gt-md="space-around center"
fxLayoutGap="10px">

    <!-- <mat-list fxFlex> -->
        <!-- <mat-grid-list cols="2" rowHeight="600px">
          <h1>Dish details</h1>
        <!-- <mat-grid-tile>              -->

          <div fxFlex [hidden]="dish" align="center">
            <mat-spinner color="red"></mat-spinner>
            <h4>Loading... Please Wait</h4>
          </div>

          <div *ngIf="dish" fxFlex="40">
            <mat-card >
              <mat-card-header>
                <mat-card-title>
                  <h3>{{dish.name | uppercase}}</h3>
                </mat-card-title>
              </mat-card-header>
              <img mat-card-image src={{dish.image}} alt={{dish.name}}>
              <mat-card-content>
                <p>{{dish.description}}
                </p>
              </mat-card-content>
              <mat-card-actions>
                <button mat-button [routerLink]="['/dishdetail', prev]">PREVIOUS</button>
                <button mat-button (click)="goBack()">BACK</button>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
                <button mat-button [routerLink]="['/dishdetail', next]">NEXT</button>
              </mat-card-actions>
            </mat-card>
          </div>
            
            
          
        
            
          <!-- </mat-grid-tile> -->
    
          <!-- <mat-grid-tile> -->
            <!-- <h1>Display list of comments here</h1> -->
          <!-- <div> -->
        <!-- <div fxFlex="40" *ngIf="dish"> -->

        <div *ngIf="dish" fxFlex="40">
          <mat-card>
            <mat-list>
              <h2>Comments</h2>
              <mat-list-item *ngFor="let c of dish.comments">
                <h4 matLine> {{c.comment}}</h4>
                <p matLine> {{c.rating}} </p>
                <p matLine> --{{c.author}} {{c.date | date:"mediumDate"}}</p>
              </mat-list-item>
            </mat-list>

          </mat-card>
        </div>
          
        <!-- </div> -->

          
          <!-- </div>
          </mat-grid-tile>
        </mat-grid-list> -->
    
    <!-- </mat-list> -->
</div>
